footer {
  text-align: center;
  background: black;
  color: white;
  padding: 10px;
  min-height: 13vh;
}

footer a {
  color: white;
  text-decoration: underline;
}

footer a:hover {
  color: white;
}

footer .notice {
  font-size: 0.7em;
}
